body {
    background-color: #f8f9fa;
}

.logo-navbar {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.card-img-top {
    object-fit: cover;
}
.learn-more-btn {
    background-color: white;
    color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 8px;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.learn-more-btn:hover {
    background-color: #0d6efd;
    color: white;
}

.favorite-btn {
    border: 2px solid #0d6efd;
    border-radius: 8px;
    padding: 6px 12px;
    background: transparent;
    color: #0d6efd;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.favorite-btn.active {
    color: gold;
    border-color: gold;
}

.planet-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    padding: 0 20px;
    text-align: center;
  }
  
  .planet-grid-titles,
  .planet-grid-values {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
  }
  
  .planet-grid-titles {
    color: red;
    font-weight: bold;
    margin-top: 2rem;
  }
  
  .planet-grid-values {
    color: red;
    margin-top: 0.5rem;
  }
  