body {
    background-color: #f8f9fa;
}

.logo-navbar {
    height: 30px;
    width: auto;
    object-fit: contain;
}

.card-img-top {
    object-fit: cover;
}

.favorite-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.favorite-btn.active {
    color: gold;
}